@import 'tailwindcss';
@import 'tw-animate-css';
@source '../node_modules/streamdown/dist/*.js';

@theme {
  --color-background: #0c0d0f;
  --color-foreground: #fafafa;
  --color-card: #101114;
  --color-card-foreground: #fafafa;
  --color-popover: #17181b;
  --color-popover-foreground: #fafafa;
  --color-primary: #fcd34d;
  --color-primary-foreground: #0c0d0f;
  --color-secondary: #26272b;
  --color-secondary-foreground: #fafafa;
  --color-muted: #26272b;
  --color-muted-foreground: #a1a1aa;
  --color-accent: #202125;
  --color-accent-foreground: #fafafa;
  --color-destructive: #fca5a5;
  --color-border: #ffffff1a;
  --color-input: #ffffff1a;
  --color-ring: #fcd34d;
  --radius-xs: 0px;
  --radius-sm: 0px;
  --radius-md: 0px;
  --radius-lg: 0px;
  --radius-xl: 0px;
  --radius-2xl: 0px;
  --radius-3xl: 0px;
  --radius-4xl: 0px;
}
